<!-- <div class="grid_24" id="nav">
	<ol>
		<li class="alpha grid_6 first" <%= is_active('home', locals[:page]) %> >
			<%= link_to 'PTConsulting', root_path %>
		</li>
		<li class="grid_6" <%= is_active('team', locals[:page]) %> >
			<%= link_to 'team', team_path %>
		</li>
		<li class="grid_6" <%= is_active('service', locals[:page]) %> >
			<%= link_to 'service', service_path %>
		</li>
		<li class="grid_6 omega" <%= is_active('contact', locals[:page]) %> >
			<%= link_to 'contact', contact_path %>
		</li>
	</ol>
</div> -->