<%= render 'nav' %>

<div id="team_container">
	
	<div id="team_logo">
		<h1> Meet The Team </h1>
	</div>
	
	<div id="team">
		<div class="person">
			<h2 class="person_name">
				Alexey Komissarouk
			</h2>
			<p class="person_decription">
				TA at University of Pennsylvania. 
				Studied Computer Science at University of Pennsylvania Lives in Philadelphia, 
				Pennsylvania Knows Russian, Hebrew, English From Donetsk, Ukraine. Born on September 14, 1986.
				| <%= link_to 'alexeymk.com' 'http://alexeymk.com' %>
				<%= link_to 'twitter' 'http://twitter.com/alexeymk' %>
			</p>
		</div>
		
		<div class="person">
			<h2 class="person_name">
				Dan Shipper
			</h2>
			<p class="person_description">
				Dan Shipper CEO at Convenience Software Greater New York City Area Computer 
				Software Current CEO at Convenience Software Connections 48 connections Websites
				Company Website Dan Shipper's Experience  CEO Convenience Software Computer 
				Software industry Currently holds this position  Dan Shipper's Additional Information
				Websites: Company Website
				| <%= link_to 'danshipper.com' 'http://danshipper.com' %>
				<%= link_to 'twitter' 'http://twitter.com/danshipper' %>
			</p>
		</div>
		
		<div class="person">
			<h2 class="person_name">
				Jonathan Leung
			</h2>
			<p>
				My name is Jonathan Leung and I love making things!
				I am part Engineer, Composer, and Entrepreneur.
				My goal in life is to make people fundamentally happier.
				Naïve? Probably. Will I still try? Definitely. 
				I am learning how to make things at The University of Pennsylvania.
				| <%= link_to 'jonathanjl.com' 'http://jonathanjl.com' %>
			</p>
		</div>
		
		<div class="person">
			<h2 class="person_name">
				Patrick Leahy
			</h2>
			<p>
				Patrick Leahy Summer Analyst at Credit Suisse Greater New York City 
				Area Higher Education Past Summer Analyst at Credit Suisse Summer 
				Analyst at Citigroup Education University of Pennsylvania 
				- The Wharton School Lakeside School Connections   
				Summer Analyst Credit Suisse Public Company; CS; Banking industry 
				| <%= link_to 'jonathanjl.com' 'http://jonathanjl.com' %>
			</p>
		</div>
	
</div>
